.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #000;
  max-height: 500px;
  width: 500px;
}
.fade-out {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}